<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
    <li class="breadcrumb-item"><a routerLink="/cadastro">Listagem</a></li>
    <li class="breadcrumb-item active">Formulário</li>
  </ol>
</nav>
<div class="alert alert-success" role="alert" *ngIf="msgPost">
  Conta incluida com Sucesso!
</div>
<div class="col-12 col-md-12">
  <p-card header="Cadastro e Controle de Usúarios">
    <div class="row col-md-12">
      <div class="col-md-6">
        <form [formGroup]="userForm">
          <div class="form-row col-md-12">
            <div class="form-group col-md-2">
              <label for="id">ID:</label>
              <input
                type="text"
                class="form-control"
                id="id"
                formControlName="id"
                readonly=""
              />
            </div>
            <div class="form-group col-md-5">
              <label for="nome">Nome:</label>
              <input
                type="text"
                class="form-control"
                id="nome"
                formControlName="nome"
                autocomplete="off"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="sobrenome">Sobrenome:</label>
              <input
                type="text"
                class="form-control"
                id="sobrenome"
                formControlName="sobrenome"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-7">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                autocomplete="off"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="role">Role:</label>
              <select id="role" class="form-control" formControlName="role">
                    <option value="">Escolha...</option>
                    <option value="ADM">ADM</option>
                    <option value="M1">M1</option>
                    <option value="M2">M2</option>
              </select>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-7">
              <label for="senha">Senha:</label>
              <input
                type="password"
                class="form-control"
                id="senha"
                formControlName="senha"
                autocomplete="off"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="status">Status:</label>
              <select id="status" class="form-control" formControlName="status">
                    <option value="">Escolha o Status</option>
                    <option *ngFor="let opt of optionsStatus">{{ opt }}</option>
              </select>
            </div>
          </div>
          <div class="form-row col-md-12">
            <button
              type="submit"
              (click)="gravarUser()"
              class="btn btn-success mt-3"
            >
            <i class="fas fa-save"></i> &nbsp;{{ nomeBotao }}
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6 mt-3">
        <p-table [value]="users" [tableStyle]="{ 'min-width': '20rem', 'max-height': '10rem'}">
          <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Referência</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-periodos>
              <tr>
                <td>
                  {{ periodos.id }}
                </td>
                <td>
                  {{periodos.referencia}}
                </td>
                <td>{{ periodos.status }}</td>
                <td>
                  <button (click)="editar(periodos)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
                  <button (click)="pegarDados(periodos)" data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="fas fa-user-slash"></i></button>
                </td>
              </tr>
          </ng-template>
      </p-table>
      </div>
    </div>
  </p-card>
  <pre>
    {{ userForm.value | json }}
  </pre>
</div>
